@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg: #3E5F8A;
$secondary-bg: #182d3a;
$primary-color: #ff1200;

body {
  background-color: $secondary-bg;
}

h1{
  font-family: "Arial Black", system-ui;
}

h5{
  font-size: 1.25rem;
  text-shadow: 1px 1px 5px black;
}

ul{
  font-family: Arial, system-ui;
  margin: 0;
  padding-left: 30px;
}

span{
  font-family: Arial, system-ui;
}

p{
  font-family: Arial, system-ui;
}


svg{
  stroke: #ffffff;
}

/*




.navbar{
 background-color: $white;
}

.nav-item{
  color: $black;
}

.nav-link{
  color: $black;
}

.container-fluid {
  left: 0;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/